<ion-header class="header-marvel">
  <ion-row class="ion-align-items-center padding-4">
    <ion-col size="2" size-md="1">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-col>
    <ion-col size="7" size-md="10" class="info-test ion-text-left">
      Marvel <span class="name-test"> App </span>
    </ion-col>
    <ion-col size="3" size-md="1" class="ion-text-right">
      <span (click)="goHome()" class="icon-account"> Marvel App</span>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="content-page">
      <ion-row class="ion-align-items-center">        
        <ion-col size="12">
          <!-- Exibição condicional caso existam informações de imagem do personagem -->
          <div class="center">
            <img *ngIf="character.thumbnail && character.thumbnail.path" 
            [src]="character.thumbnail.path + '.' + character.thumbnail.extension" 
            [alt]="character.name" 
            class="character-img">
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-row class="ion-align-items-center name-style">
              <ion-col size="3"></ion-col>     
              <ion-col size="6">
                <div class="center" style="background-color: red">       
                <span>{{ character.name }}</span>     
                </div>      
              </ion-col>
              <ion-col size="3"></ion-col>       
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-md-lef center">
              <span class="character-info" *ngFor="let serie of character.series.items;let ix = index">
                <span>
                  {{ serie.name }}
                  <span *ngIf="ix != character.series.items.length - 1">,&nbsp;</span>
                </span>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
          
      <ion-row>
        <ion-col size="12" class="page-subtitle name-style">
          {{comics.length > 0 ? 'Lista de HQs' : 'Nenhum quadrinho encontrado'}}
          <hr>
        </ion-col>
      </ion-row>
      
      <div class="{{comics.length > 0 ? 'border': ''}}">
      <ion-row  [hidden]="checking">
        <ion-col size="12">
          <!--Percorre a lista de quadrinhos e exibe a thumbnail e suas infos-->
          <ion-row *ngFor="let comic of comics" class="ion-align-items-center comics">            
            <ion-col size="12" size-md="1" class="ion-text-center">
              <img *ngIf="comic.thumbnail && comic.thumbnail.path" 
              [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" 
              [alt]="comic.title" class="comic-img">
            </ion-col>
            <ion-col size="12" size-md="11" class=" ion-text-center ion-text-md-left">
              <span class="comic-name">{{ comic.title }}</span> <br>
              <span class="comic-description">
                {{comic.description}}
              </span>
            </ion-col>          
          </ion-row>          
        </ion-col>
      </ion-row>
    </div>
    
    
    
      <ion-row [hidden]="!checking">
        <ion-col size="12">
          <app-loading></app-loading>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
